


<div class="container" *ngIf="data&&!admin" [class.mobile]="mobile"> 

  <div class="menumobile" *ngIf="data" [class.disable]="!showmenu">
    <div>
      <img src="minicadre.png">
      <p class="clickable quit" (click)="showmenu=false">x</p>
      <p *ngFor="let menu of data[lang].menus;let i=index" class="clickable" (click)="clickMenu(i)" [class.clicked]="menuClicked==i">{{menu | uppercase}}</p>
    </div>
  </div> 
  
  <div class="data transition" [class.noopacity]="showmenu">
    <img src="topcadre.png" class="topcadre">
    <img src="botcadre.png" class="botcadre">
  
    <app-ghost></app-ghost>
  
    
  
    <div class="header" >
  
      <div class="transition" [class.noopacity]="mobile||isSticky" [class.absolute]="mobile||isSticky">
        <img src="{{lang==0?'fr':'en'}}.png" class="clickable lang" (click)="lang=lang==0?1:0"/>
  
        <div class="toplogo">
          <img src="shibako.png" class="shibako"/>
          <img src="logo.png">
          <img src="tattoo.png" class="tattoo"/>
        </div>
      
        <div class="topmenus">
          <p *ngFor="let menu of data[lang].menus;let i=index" class="clickable" (click)="clickMenu(i)" [class.clicked]="menuClicked==i">{{menu | uppercase}}</p>
        </div>
        
        <img src="ligne.png" class="ligne botminmarg"/>
      </div>
      
  
      <div class="transition" [class.noopacity]="!mobile||isSticky" [class.absolute]="!mobile||isSticky">
  
        <img src="menu.png" class="clickable menuorbe" (click)="clickMenuMobile()"/>
        <img src="{{lang==0?'fr':'en'}}.png" class="clickable lang" (click)="lang=lang==0?1:0"/>
  
        <div class="toplogo2">
          <img src="shibako.png" class="shibako"/>
          <img src="logo.png">
          <img src="tattoo.png" class="tattoo"/>
        </div>
        
        <img src="ligne.png" class="ligne botminmarg"/>
      </div>
      
  
      <div class="transition" [class.noopacity]="!isSticky" [class.absolute]="!isSticky" [class.stuck]="isSticky">
  
        <img src="menu.png" class="clickable menuorbe" (click)="clickMenuMobile()"/>
        <img src="{{lang==0?'fr':'en'}}.png" class="clickable lang" (click)="lang=lang==0?1:0"/>
  
        <div class="toplogo2">
          <img src="shibako.png" class="shibako"/>
          <img src="logo.png">
          <img src="tattoo.png" class="tattoo"/>
        </div>
        
        <img src="ligne.png" class="ligne botminmarg"/>
      </div>
      
    </div>
  
    <!-- CONTENT -->
    
    <div class="content" [style.opacity]="opacity">
      <div class="whoami" *ngIf="menuClicked==0" [class.stuckcontent]="isSticky">
        <div class="desc">
          <img src="me.png" />
          <p [innerHTML]="data[lang].textes.whoami"></p>
        </div>
      
        <img src="ligne.png" class="ligne midline"/>
      
        <div class="mywork">
            <img *ngFor="let i of generateRange(5)" src="mywork/{{i}}.png"/>
        </div>
      </div>
    
      <div *ngIf="menuClicked==1" [class.stuckcontent]="isSticky">
        <ng-container *ngIf="!flashClicked">
          <div class="flashs">
              <div *ngFor="let flash of getFlashs()" class="flash" (click)="reserverFlash(flash)">
                <img src="https://chiyanh.cluster031.hosting.ovh.net/shibako/flashs/{{flash.img}}" />
          
                <div class="infos">
                  <div>
                    <p>{{flash.nom}}</p>
                    <p>{{flash.univers}}</p>
                  </div>
                  <div>
                    <p>Temps : {{flash.temps}}</p>
                    <p>Prix : {{flash.prix}}€</p>
                  </div>
                </div>
          
              </div>
          </div>
        </ng-container>
          
        <ng-container *ngIf="flashClicked&&!flashClicked.reserved">
        <div class="clickedFlash">
            <div class="retour">
              <button (click)="flashClicked=undefined">{{data[lang].textes.retour}}</button>
            </div>
            <div class="flashClicked">
              <div class="flash">
                <img src="flashs/{{flashClicked.img}}"/>
          
                <div class="infos">
                  <div>
                    <p>{{flashClicked.nom}}</p>
                    <p>{{flashClicked.univers}}</p>
                  </div>
                  <div>
                    <p>Temps : {{flashClicked.temps}}</p>
                    <p>Prix : {{flashClicked.prix}}€</p>
                  </div>
                </div>
              </div>
              <app-calendar [events]="events" [flashClicked]="flashClicked" (retour)="onClickDay($event)"></app-calendar>
            </div>
            
            <p *ngIf="creneaux.length==0" class="center">{{data[lang].textes.selectDate}}</p>
            <p *ngIf="creneaux.length>0 && clickedCreneau==-1" class="center">{{data[lang].textes.selectCreneau}}</p>
    
            <div class="creneaux" *ngIf="creneaux.length>0">
              <p *ngFor="let creneau of creneaux;let x=index" class="clickable" (click)="clickedCreneau=x" [class.clicked]="clickedCreneau==x">{{formatTimeSlot(creneau)}}</p>
            </div>
      
            <div class="fields">
              <ng-container *ngFor="let field of getFlashFields();let i=index">
                <div *ngIf="field.type=='select'" class="select">
                  <div class="blocligne" [ngStyle]="{'background-position-x': getRandomOffset(i)}"></div>
                  <select [(ngModel)]="resa[field.id]" [class.borderwhite]="resa[field.id]&&resa[field.id]!=-1">
                    <option [value]="-1">{{field.nom}}</option>
                    <option *ngFor="let opt of field.options;let x=index" [value]="x">{{opt}}</option>
                  </select>
                </div>
                <div *ngIf="field.type=='text'" class="input">
                  <div class="blocligne" [ngStyle]="{'background-position-x': getRandomOffset(i)}"></div>
                  <input type="text" [placeholder]="field.nom+'..'" [(ngModel)]="resa[field.id]" [class.borderwhite]="resa[field.id]&&resa[field.id]!=''"/>
                </div>
              </ng-container>
            </div>
            <div class="fields">
              <ng-container *ngFor="let field of getFlashFields(true);let i=index">
                <div *ngIf="field.type=='textarea'" class="textarea">
                  <img src="bloc.png" class="bloc textareabloc"/>
                  <textarea type="text" [placeholder]="field.nom+'..'" [(ngModel)]="resa[field.id]" [class.borderwhite]="resa[field.id]&&resa[field.id]!=''"></textarea>
                </div>
              </ng-container>
            </div>
            <button class="resa" (click)="reserver()">{{data[lang].textes.resa}}</button>
        </div>
        </ng-container>
          
        <ng-container *ngIf="flashClicked&&flashClicked.reserved">
          <div class="clickedFlash">
            <div class="retour">
              <button (click)="flashClicked=undefined;">{{data[lang].textes.retour}}</button>
            </div>
            <div class="flex center">
              <div class="flash">
                <img src="flashs/{{flashClicked.img}}"/>
          
                <div class="infos">
                  <div>
                    <p>{{flashClicked.nom}}</p>
                    <p>{{flashClicked.univers}}</p>
                  </div>
                  <div>
                    <p>Temps : {{flashClicked.temps}}</p>
                    <p>Prix : {{flashClicked.prix}}€</p>
                  </div>
                </div>
              </div>
            </div>
    
            <p class="center">Votre réservation est validée pour le {{formatEventDate(creneaux[clickedCreneau])}}</p>
            <p class="center">Merci et à bientôt ! :)</p>
            <br/>
        </div>
        <div class="flex center">
          <button (click)="flashClicked=undefined;">{{data[lang].textes.retour}}</button>
        </div>
        </ng-container>
      </div>
    
      <div class="contact" *ngIf="menuClicked==2" [class.stuckcontent]="isSticky">
        <div class="topinfos">
          <p>{{data[lang].textes.envietattoo}}</p>
        </div>
        <div class="fields">
          <ng-container *ngFor="let field of data[lang].contact;let i=index">
            <div *ngIf="field.type=='select'" class="select">
              <div class="blocligne" [ngStyle]="{'background-position-x': getRandomOffset(i)}"></div>
              <select [(ngModel)]="resa[field.id]" [class.borderwhite]="resa[field.id]&&resa[field.id]!=-1">
                <option [value]="-1">{{field.nom}}</option>
                <option *ngFor="let opt of field.options;let x=index" [value]="x">{{opt}}</option>
              </select>
            </div>
            <div *ngIf="field.type=='text'" class="input">
              <div class="blocligne" [ngStyle]="{'background-position-x': getRandomOffset(i)}"></div>
              <input type="text" [placeholder]="field.nom+'..'" [(ngModel)]="resa[field.id]" [class.borderwhite]="resa[field.id]&&resa[field.id]!=''"/>
            </div>
          </ng-container>
        </div>
        <div class="fields">
          <ng-container *ngFor="let field of data[lang].contact;let i=index">
            <div *ngIf="field.type=='textarea'" class="textarea">
              <img src="bloc.png" class="bloc textareabloc"/>
              <textarea type="text" [placeholder]="field.nom+'..'" [(ngModel)]="resa[field.id]" [class.borderwhite]="resa[field.id]&&resa[field.id]!=''"></textarea>
            </div>
          </ng-container>
          <input type="file" (change)="onFileSelect($event)" multiple />
        </div>
    
        <button class="resa" (click)="sendMail()">{{data[lang].textes.rdv}}</button>
      </div>
    </div>
    
  
    <!-- FOOTER -->
  
    <div class="footer">
      <img src="ligne.png" class="ligne topmarg"/>
  
      <div class="content">
        <div class="left">
          <p>Contact</p>
          <p class="clickable" (click)="openInsta()"><img src="insta.png"/>Instagram : &#64;shibako_tattoo</p>
          <p><img src="mail.png"/>E-mail : shibakotattoo&#64;outlook.fr</p>
        </div>
        <div class="right">
          <button *ngIf="!(menuClicked==2||(flashClicked&&menuClicked==1))" (click)="menuClicked=2">{{data[lang].textes.rdv}}</button>
        </div>
    </div>
  
    </div>
  </div>

</div>

<!-- ADMIN ============================-->

<div class="container admin" *ngIf="admin">
  <div *ngIf="!okmdp" class="mdpinput">
    <input type="password" [(ngModel)]="mdp"/>
    <button (click)="checkMdp()">Valider</button>
  </div>
  <div *ngIf="okmdp && data && flashs" class="admininputs">
    <div class="top">
      <div class="topbuttons">
        <button *ngFor="let menu of adminmenus;let i=index" (click)="menuClicked=i" [class.clicked]="menuClicked==i">{{adminmenus[i]}}</button>
      </div>
      <div class="topbuttons">
        <button (click)="lang=lang==0?1:0">{{lang==0?'Français':'Anglais'}}</button>
        <button (click)="goToSite()">Aller sur le site</button>
      </div>
    </div>

    <div *ngIf="menuClicked==0">
      <div>
        <p class="titre">Images :</p>
        <img src=""/>
      </div>
      <div>
        <p class="titre">Menus :</p>
        <input type="text" *ngFor="let menu of data[lang].menus;let i=index;trackBy: trackByIndex" [(ngModel)]="data[lang].menus[i]" [class.red]="data[lang].menus[i]!=firstData[lang].menus[i]"/>
      </div>
      <div>
        <p class="titre">Textes :</p>
        <textarea type="text" *ngFor="let texte of getTextes();let i=index;trackBy: trackByIndex" [(ngModel)]="data[lang].textes[texte.key]" [class.red]="data[lang].textes[texte.key]!=firstData[lang].textes[texte.key]"></textarea>
      </div>
      <div>
        <p class="titre">Champs :</p>
        <input type="text" *ngFor="let input of data[lang].contact;let i=index;trackBy: trackByIndex" [(ngModel)]="data[lang].contact[i].nom" [class.red]="data[lang].contact[i].nom!=firstData[lang].contact[i].nom"/>
      </div>
      <p class="titre saved" *ngIf="saved">Changements sauvegardés, actualise le site pour voir les modifications</p>
    </div>
    
    <div *ngIf="menuClicked==1" class="flashs">
      <div>
        <div><p>Nom du flash</p></div>
        <div><p>Univers</p></div>
        <div><p>Temps du tattoo</p></div>
        <div><p>Prix du tattoo</p></div>
        <div><p>Image</p></div>
        <div><p>&nbsp;</p></div>
      </div>
      <div *ngFor="let flash of flashs;let i=index" [class.deleted]="flash.deleted">
        <div><input type="text" [(ngModel)]="flashs[i].nom" [class.red]="flashs[i].nom!=firstFlashs[i].nom" placeholder="Nom.."/></div>
        <div><input type="text" [(ngModel)]="flashs[i].univers" [class.red]="flashs[i].univers!=firstFlashs[i].univers" placeholder="Univers.."/></div>
        <div><input type="text" [(ngModel)]="flashs[i].temps" [class.red]="flashs[i].temps!=firstFlashs[i].temps" placeholder="Temps.."/></div>
        <div><input type="text" [(ngModel)]="flashs[i].prix" [class.red]="flashs[i].prix!=firstFlashs[i].prix" placeholder="Prix.."/></div>
        <div *ngIf="flashs[i].img!=''"><img src="https://chiyanh.cluster031.hosting.ovh.net/shibako/flashs/{{flashs[i].img}}" class="clickable flashimg" (click)="selectImage(flash)"/></div>
        <div *ngIf="flashs[i].img==''"><img src="plus.png" class="clickable flashimg plusimg" (click)="selectImage(flash,true)"/></div>
        <div *ngIf="!flash.deleted"><img src="poubelle.png" class="clickable" (click)="clickDeleteFlash(flash)"/></div>
        <div *ngIf="flash.deleted"><img src="undo.png" class="clickable" (click)="clickDeleteFlash(flash)"/></div>
      </div>
      <div>
        <button (click)="addFlash()" [class.disabled]="isFlashNotOver()">Ajouter Flash</button>
      </div>
    </div>
    
    <button (click)="saveAdminData()" class="sauvegarder" [class.disabled]="nothingChanged()">Sauvegarder</button>
  </div>
</div>

<input type="file" #fileInput (change)="onFileSelected($event)" accept="image/*" hidden>
